<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" >
        {% if title %}
      <title> Crypto Tools - {{ title }}</title>
      {% else %}
    <title>Crypto Tools</title>
        {% endif %}
  </head>
  <style>
     body {
        padding-top: 85px;
        background-image: url("D:\CryptoTools\Crypto-Tools\static\computer.jpg");
        background-color: #cccccc;
    }
</style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Public-key Crypto
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('generate_RSA_key_pair') }}" >Generate RSA Key pair</a>
            <a class="dropdown-item" href="{{ url_for('generate_ECC_key_pair') }}">Generate ECC Key pair</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('DS_sign') }}">Create Digital Signature</a>
          <a class="dropdown-item" href="{{ url_for('DS_verify') }}">Verify Digital Signature</a>
             <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('asymmetric_enc') }}">Asymmetric Encryption</a>
          <a class="dropdown-item" href="{{ url_for('asymmetric_dec') }}">Asymmetric Decryption</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="12" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         PKI
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Create CA Certificate</a>
          <a class="dropdown-item" href="#">Create Certificate</a>
        </div>
      </li>
       <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="12" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Hash\MAC
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('generate_hash') }}">Create Sha Tag</a>
            <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('generate_hmac') }}">Create HMAC</a>
            <a class="dropdown-item" href="{{ url_for('verify_hmac') }}">Verify HMAC</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="12" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         AES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('generate_AES_key') }}">Generate AES Key</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url_for('AES_enc') }}">AES Encryption</a>
          <a class="dropdown-item" href="{{ url_for('AES_dec') }}">AES Decryption</a>
        </div>
      </li>
    </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
           <div class="alert alert-warning alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
			{{message}}
		  </div>
          {% endfor %}
           </ul>
        {% endif %}
      {% endwith %}

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" > </script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
  </body>
</html>